
<section id="content_wrap">

	<header id="melon"><img src="/assets/logo.png"> </header>

	<h2 class="question"> When do you concentrate best? </h2>

		<%= render 'form' %>

<div id="tag_cloud">
		
<% tag_cloud Post.tag_counts, %w[w1 w2 w3 w4 w5 w6 w7 w8 w9 w10 w11 w12 w13 w14 w15 w16 w17 w18 w19 w20] do |tag, css_class| %>
<div class="item_wrap">
			 <span class="tag_name"> <%= tag.name %> </b> </span>
		<%= content_tag :div, Post.tagged_with(tag).count, class: "item #{css_class}" %>

</div>
		<% end %>
	
<% @posts.each do |post| %>
	<% if post.new_post %>
	<div class="item_wrap">
		<div class="item newly_created">
	<span class="tag_name">
	<%=post.new_post %></span>
</div>
</div>
	<% else %>
	<% end %>
	<%end %>

</div>

</section>
<footer id="main"> </footer>