/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require selectjs
 */

/* title */
.title h1{
	width: 1020px;
	margin: 0 auto;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.4em;
	padding-bottom: 1.3em;
}
/* title End*/

/* form */
.form {
	width: 1020px;
	margin: 0 auto;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	margin-bottom: 6.6em;
}
/* form End*/



/* Tag_cloud end */

/* Hyperlink */

	a:link {text-decoration: none;}
	a:visited {text-decoration: none;}
	a:hover {text-decoration: none;}
	a:active {text-decoration: none;}

/* Hyperlink - end */


#add_new span { background-image: url('/assets/addnew.png') no-repeat; }



